---
title: Atomic Registry
---
%img.img-responsive.pull-right( src="/images/registry-image.png")
%h1 Atomic Registry


%p.lead

  An enterprise container registry solution run on-premise or in the cloud

%h2 What is Atomic Registry?

%p

  Atomic Registry is an open source enterprise registry based on the
  %a( href="https://www.openshift.org/" target="_blank") Origin
  and
  %a( href="http://cockpit-project.org/" target="_blank") Cockpit
  projects, enhancing the
  %a( href="https://github.com/docker/distribution" target="_blank" ) Docker registry
  library.

%p

  Read the
  %a( href="http://docs.projectatomic.io/registry" ) documentation
  to learn more about installing and using Atomic Registry.


%h2 Features

.row

  .col-md-4.col-sm-12
    %h3 Beautiful User Interface

    %p
      Based on the
      %a( href="http://cockpit-project.org/" target="_blank") Cockpit Project
      , Atomic Registry features a user-focused web interface with views for
      administrators and basic users.


  .col-md-4.col-sm-12
    %h3 Integration Ready SSO

    %p
      Built-in OAuth server to integrate with enterprise and cloud identity
      providers for a single sign-on (SSO) user experience.

  .col-md-4.col-sm-12
    %h3 Security and Control

    %p
      Robust role-based access control (RBAC) to distribute images securely,
      allowing administrators to select an access model that works for their use
      case.

.row

  .col-md-4.col-sm-12
    %a(href="/images/registry-console.png")
      %img.img-responsive( src="/images/registry-console.png")

  .col-md-4.col-sm-12
    %a(href="/images/registry-images.png")
      %img.img-responsive( src="/images/registry-images.png")

  .col-md-4.col-sm-12
    %a(href="/images/registry-rbac.png")
      %img.img-responsive( src="/images/registry-rbac.png")

%h3 Other Features

%ul
  %li Full API and CLI
  %li Flexible storage options
  %li Designed for clustering and high availability

%h2
  %a( name="quickstart")
  Try It

%p

  Follow the
  %a( href="http://docs.projectatomic.io/registry/latest/registry_quickstart/index.html" ) Quickstart instructions
  to try it out.

.row

  .col-md-6
    %h3 Install

    <iframe width="420" height="315" src="https://www.youtube.com/embed/kOzcl0-2yn4?rel=0" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %h3 Using

    <iframe width="420" height="315" src="https://www.youtube.com/embed/wXzLWEWdzv0?rel=0" frameborder="0" allowfullscreen></iframe>


%h2
  %a(name="contact")
  Contact


%p
  <strong>Email</strong>:
  %a(href="mailto:atomic-devel@projectatomic.io") atomic-devel@projectatomic.io

%p
  <strong>IRC</strong>: #atomic or #cockpit channels on Freenode

%h2
  %a(name="contribute")
  Contribute

%h3 Source

%ul
  %li
    %a(href="https://github.com/openshift/origin/tree/master/examples/atomic-registry") Quickstart image Dockerfile source
  %li
    %a(href="https://hub.docker.com/r/projectatomic/atomic-registry-quickstart/") Quickstart image
  %li
    %a(href="https://github.com/openshift/origin/") OpenShift Origin
  %li
    %a(href="https://github.com/cockpit-project/cockpit") Cockpit Project

%h3 Getting Help

%p
  Be sure to check out out the
  %a(href="http://docs.projectatomic.io/registry") documentation.

%ol
  %li
    Check the list of
    %a(href="https://github.com/cockpit-project/cockpit/wiki/Image-Registry#limitations" target="_blank") known issues
  %li
    You may find discussion on Github issues pages. For usability and user
    interface questions see the
    %a(href="https://github.com/cockpit-project/cockpit/issues") Cockpit issues
    list. For backend server issues (API, CLI, authentication, storage, etc) refer to the
    %a(href="https://github.com/openshift/origin/issues?q=is%3Aopen+is%3Aissue+label%3Acomponent%2Fimageregistry") OpenShift Origin issues
    list.
  %li
    Send an
    %a(href="mailto:atomic-devel@projectatomic.io") email
    or ask a question on the #atomic IRC channel on Freenode.
