<div class="alert alert-danger text-center">
<h2> Project Atomic is now sunset</h2>
<p>
The Atomic Host platform is now replaced by <a href="https://coreos.fedoraproject.org">CoreOS</a>.
Users of Atomic Host are encouraged to join the CoreOS community on the <a href="https://github.com/coreos/fedora-coreos-tracker#communication-channels-for-fedora-coreos">Fedora CoreOS communication channels</a>.
</p>
<p>
The documentation contained below and throughout this site has been retained for historical purposes, but can no longer be guaranteed to be accurate.
</p>
</div>
