= link_to "/" do
  - if data.site.logo
    = image_tag data.site.logo, id: "logo", class: "logo img-responsive", alt: data.site.name
  - else
    = data.site.name

.navbar-header.navbar-inverse#access

  %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
    %span(class="sr-only") Toggle navigation
    %span(class="icon-bar")
    %span(class="icon-bar")
    %span(class="icon-bar")

  .collapse.navbar-collapse
    = partial :nav, locals: { source: "navigation", nav_class: "nav-stacked" }
 
    .dummy &nbsp;

    #social
      %div
        %a( href="http://www.twitter.com/TBD" ) 
          %img( src="/images/account-twitter-symbolic.png") 
          twitter
      %div
        %a( href="http://www.facebook.com/TBD" ) 
          %img( src="/images/account-facebook-symbolic.png") 
          facebook
      %div
        %a( href="http://plus.google.com/TBD" )
          %img( src="/images/account-google-symbolic.png") 
          google

