%ul#social.list-unstyled
  %li.twitter
    %a{:href => "http://www.twitter.com/projectatomic" }
      %i.fa.fa-twitter
      %span.label Twitter
  %li.facebook
    %a{:href => "https://www.facebook.com/projectatomic" }
      %i.fa.fa-facebook
      %span.label Facebook
  %li.google
    %a{:href => "https://plus.google.com/108727025270662383247/posts" }
      %i.fa.fa-google-plus
      %span.label Google+