%ul#social.list-unstyled
  %li.twitter
    %a{:href => "http://www.twitter.com/projectatomic", :title => "Twitter" }
      %i.fa.fa-twitter
      %span.label Twitter
  %li.facebook
    %a{:href => "https://www.facebook.com/projectatomic", :title => "Facebook" }
      %i.fa.fa-facebook
      %span.label Facebook
  %li.google
    %a{:href => "https://plus.google.com/108727025270662383247/posts", :title => "Google+" }
      %i.fa.fa-google-plus
      %span.label Google+
  %li.rss
    %a{:href => "/blog/feed.xml", :title => "RSS" }
      %i.fa.fa-rss
      %span.label RSS
