---
title: "Project Atomic Releases"
---
.jumbotron
  %h1
    Project Atomic Releases

.row
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-cloud-download
      CentOS Atomic Host
    %p
      The CentOS Atomic Host is a rebuild of the Red Hat Enterprise Linux (RHEL) Atomic Host sources. 
    %p
      CentOS Atomic Host images are in formats suitable for public and private clouds, an ISO for bare metal installation, and Vagrant boxes for libvirt/KVM and VirtualBox.
    %p
      #{link_to "Download CentOS Atomic Host", "http://buildlogs.centos.org/centos/7/atomic-host/x86_64/images/"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-cloud-download
      Fedora 22 Atomic Host
    %p
      The Fedora 22 release of Atomic Host provides a solid host for running Docker containers. Released in May 2015, Fedora 22 Atomic Host will be supported through June 2016. 
    %p
      This includes ISO images for bare metal installation, images suitable for OpenStack and other public/private cloud environments, Vagrant boxes, and Amazon EC2 AMIs.
    %p
      #{link_to "Download Fedora 22 Atomic Host", "https://getfedora.org/en/cloud/download/"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-cloud-download
      Fedora Nightlies
    %p
      Want to see the latest work that's going on for Project Atomic? Check out the nightly builds! Note that these are only suitable for development and testing, we strongly recommend you do not attempt to use with important data or mission critical work.
    %p
      Currently the Fedora Nightlies are released as ISO images only, but additional formats will be available soon.
    %p
      #{link_to "Download Fedora Nightlies", "http://atomic-nightly.cloud.fedoraproject.org/composes/"}
