---
title: "Project Atomic Releases"
---
.jumbotron
  %h1
    Project Atomic Releases

.row
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      CentOS Atomic Host
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Fedora 22 Atomic Host
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "https://getfedora.org/en/cloud/download/"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Fedora 2-Week Builds
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
