---
title: "Project Atomic Releases"
---
.jumbotron
  %h1
    Project Atomic Releases

.row
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Foobar
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Foobar
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Foobar
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
