---
title: "Project Atomic Releases"
---
.jumbotron
  %h1
    Project Atomic Releases

.row
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      CentOS Atomic Host
    %p
      =lorem.sentences(3)
    %p
      #{link_to "Learn more about point 1", "#"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Fedora 22 Atomic Host
    %p
      The Fedora 22 release of Atomic Host provides a solid host for running Docker containers. Released in May 2015, Fedora 22 Atomic Host will be supported through June 2016. 
    %p
      #{link_to "Learn more about point 1", "https://getfedora.org/en/cloud/download/"}
  .col-xs-12.col-lg-4
    %h2
      %i.fa.fa-thumbs-up
      Fedora Nightlies
    %p
      Want to see the latest work that's going on for Project Atomic? Check out the nightly builds! Note that these are only suitable for development and testing, we strongly recommend you do not attempt to use with important data or mission critical work.
    %p
      #{link_to "Download Fedora Nightlies", "http://atomic-nightly.cloud.fedoraproject.org/composes/"}
