---
title: Get Started with Project Atomic
---

%h1 Get Started with Atomic

%img.pull-right( src="/images/platforms.png")

%p.lead 
  Atomic can run on the same platforms and clouds as the distributions it is based on.

%p.lead
  Download an Atomic Fedora 20 VM now.

%p 
  The "QEMU" image works on Linux KVM virtualization, for example 
  <a href="http://openstack.redhat.com/">RDO</a> (OpenStack), 
  <a href="http://ovirt.org">oVirt</a>, 
  <a href="http://virt-manager.org/">virt-manager</a> and
  the "Boxes" virtual machine application available on 
  <a href="http://fedoraproject.org/">Fedora 20</a>.

.clearfix

%p.buttons.hidden-xs
  %a.btn.btn-primary.btn-lg{:href => "http://rpm-ostree.cloud.fedoraproject.org/project-atomic/images/f20/vbox"} VirtualBox (Win, Mac)
  %a.btn.btn-primary.btn-lg{:href => "http://rpm-ostree.cloud.fedoraproject.org/project-atomic/images/f20/qemu"} QEMU (Linux)
%p.buttons.visible-xs
  %a.btn.btn-primary.btn-block{:href => "http://rpm-ostree.cloud.fedoraproject.org/project-atomic/images/f20/vbox"} VirtualBox (Win, Mac)
  %a.btn.btn-primary.btn-block{:href => "http://rpm-ostree.cloud.fedoraproject.org/project-atomic/images/f20/qemu"} QEMU (Linux)

%p Stay tuned for more distributions and optimized images for cloud environments.

.clearfix

.row
  .col-md-12.sm-12
    %h2 Setting Up the Virtual Machine

    %p
      Please follow the
      %a( href="/docs/quickstart/" ) Quick Start Guide
      to create a new virtual machine with Atomic and set
      up more disk space for your containers.

    %h3 Extremely Quick Start Guide For the Impatient

    %p Atomic boots to a text console, asking you to log in:
    %pre
    
      Localhost login: root <span class="text-muted">[press enter]</span>

    %p
      There is no password by default.

    %p
      Even though remote login via ssh is disabled with a blank password,
      it makes sense to set one now:

    %pre
      \# passwd root
      Changing password for user root.
      New password: <span class="text-muted">[enter a new password ]</span>
      Retype new password: <span class="text-muted">[ enter the password again ]</span>
     
  .col-md-6.col-sm-12
    %h2 Atomic Upgrades

    %p
      From a running host, start an upgrade with:
    %pre
      $ rpm-ostree upgrade
      $ systemctl reboot
    %p
      On the boot screen you'll see your new version. Hold down the
      SHIFT key there to rollback to your previous tree.

    %p 
      %a( href="/docs/os-updates" ) &raquo; More on atomic upgrades with OSTree...

  .col-md-6.col-sm-12
    %h2 Docker Containers

    %p
      Host applications on Atomic with #{link_to "Docker", "https://www.docker.io"}
    %pre
      :preserve
        $ docker run fedora /bin/echo "hello world"
    %p
      Get familiar with the #{link_to "Docker tutorial", "https://www.docker.io/gettingstarted/#"}, then
      learn how you can build reusable images and run Docker in production on Atomic hosts.

    %p 
      %a( href="/docs/#docker" ) &raquo; Read about Docker in production...

.row
  .col-md-6.col-sm-12
    %h2 Try the New UI for Your Server

    %p
      Administer the services on your system with Cockpit
    %pre
      :preserve
        # setenforce 0 
        # systemctl enable cockpit.socket
        # visit http://&lt;ipaddress&gt;:21064 in a browser
    %p
      Cockpit is perfect for new sysadmins, allowing them to easily perform simple tasks such as storage 
      administration, inspecting journals and starting and stopping services.

    %p 
      %a( href="http://cockpit-project.org" ) &raquo; Visit cockpit-project.org...

  .col-md-6.col-sm-12
    %h2 Cluster Your Containers

    %p
      Setup and link containers across hosts
    %pre
      :preserve
        $ gear install pmorie/sti-html-app web --ports="8080:0" --start
    %p
      Install containers to systemd and link them across a cluster with geard, the new core
      of OpenShift.

    %p 
      %a( href="https://openshift.github.io/geard" ) &raquo; Learn about geard...

-#.row{:style => 'clear:both'}
  .col-md-4.col-sm-12
    %h2 Virtual Machines

    %p
      Virtualization on your own computer is an easy option to get
      started, but it also works great for container development.

    %p
      We have images and instructions for the most common platforms:
      KVM/QEmu, OpenStack, VMWare and Vagrant. 

    %p

      If there is no ready-to-run appliance image for your platform,
      as a fallback you can install Atomic with the installer ISO
      image.

    %p 
      %a( href="download/virtualization" ) &raquo; Read more...

  .col-md-4.col-sm-12
    %h2 Public Cloud Providers

    %p

      Project Atomic images are available on most common public cloud
      providers, ready to run.

    %p
 
      We have preloaded images available for Amazon EC2 and Rackspace
      cloud. For other compatible cloud providers you can upload the
      provided image yourself, or use the installer ISO.

    %p 
      %a( href="download/cloud" ) &raquo; Read more...

  .col-md-4.col-sm-12
    %h2 Your Own Hardware

    %p 

      Atomic can be installed on most 64 bit X86 computers. Actual
      hardware requirements depend on your use case.

    %p

      If we must give a number to compare against, I would guess 256
      megabytes of memory would be a minimum for testing and
      experimenting with Atomic.

    %p 
      %a(href="download/metal") Read more...

%h2
  %a( name="documentation")
  Documentation

%p
  Still have questions? Read an #{link_to "Introduction to Atomic", "/docs/introduction"} and the #{link_to "documentation section", "/docs/"}.

-#%h2 
  %a( name="quickstart")
  Quick Start Guide

-#%p Now that you got Project Atomic installed, it's time to put it to work. And we have to write this quickstart guide so you can follow it. Basically the purpose of this section is to get your newly installed Atomic host to do something useful and to make you understand how it works, how to install containers and how to do common deployments.


-#%h2 
  %a( name="quickstart")
  Quick Start Guide

-#%p Now that you got Project Atomic installed, it's time to put it to work. And we have to write this quickstart guide so you can follow it. Basically the purpose of this section is to get your newly installed Atomic host to do something useful and to make you understand how it works, how to install containers and how to do common deployments.

%h2 Done? Join the Community!

%p 
  Time to jump to our 
  %a( href="/community" ) community 
  page to share your experience, raise issues or propose improvements!
