---
title: Get Started with Atomic
---

%h1 Getting Started

%p.lead 

  Project Atomic can run on most virtualization platforms and providers. "Bare
  metal" installations on your own hardware are also possible.

%p

  Naturally the most convenient way to get started is the technology
  you already use. Below are the most common choices:

.row

  .col-md-4.col-sm-12
    %h2 Virtual Platforms

    %p
 
      Virtual machines on your own computer are an easy option to get
      started, but they are useful for container development as well.

    %h4 Select your platform for more information:

    %ul
      %li 
        %a LibVirt
        \- applies to oVirt, RHEV and Boxes on Fedora/Ubuntu
      %li 
        %a OpenStack
      %li 
        %a VMWare
      %li 
        %a Vagrant

  .col-md-4.col-sm-12
    %h2 Public Cloud Providers
    %p Project Atomic images are available on most common public cloud providers, ready to be launched.

    %h4 Read more about deployment on each platform:
    %ul
      %li 
        %a Amazon EC2
      %li 
        %a Rackspace 

  .col-md-4.col-sm-12
    %h2 Your own hardware
    %p 

      Atomic can be installed on most 64 bit X86 computers. Actual
      hardware requirements depend on your use case.

    %p 
      %a(href="") More information and installation images can be found here.

%h2 Quick Start Guide

%p Now that you got Project Atomic installed, it's time to put it to work. And we have to write this quickstart guide so you can follow it.

%h2 Getting the sources

%h3 Git repositories on Github
