---
title: The Nulecule Specification 
---

%h1 The Nulecule Specification 

%img.img-responsive.pull-right.hidden-xs( src="/images/community.png")
%p.lead

  Nulecule defines a pattern and model for packaging complex multi-container 
  applications, referencing all their dependencies, including orchestration 
  metadata in a container image for building, deploying, monitoring, 
  and active management.

%p

  Nulecule specification enables complex applications to be defined, packaged 
  and distributed using standard container technologies. The resulting container 
  includes dependencies while supporting multiple orchestration providers and 
  ability to specify resource requirements. The Nulecule specification also 
  supports aggregation of multiple composite applications. The Nulecule 
  specification is container and orchestration agnostic, enabling the use of 
  any container and orchestration engine.

%p
  It's a made-up word meaning "the mother of all atomic particles" [pronounced: noo-le-kyul], like "molecule".

.row

  .col-md-4.col-sm-12
    %h2 Specification 

    %p
      The Nulecule Specification is developed as a community effort on github. Any released specification can
      be found as a <a href="/nulecule/spec/0.5.0/index.html">human readable version</a> and as a <a href="/nulecule/spec/0.5.0/schema.json">machine readable version</a>.

      The Team uses a <a href="https://www.redhat.com/mailman/listinfo/container-tools">mailing lists</a> hosted by Red Hat.

    %p
      If you want to contribute to the Nulecule Specification itself,
      we welcome you at <a href="https://github.com/projectatomic/nulecule/">the spec's repo</a>.

    %p
      We also hang out on the Freenode IRC servers in the
      <a href="irc://irc.freenode.net/#nulecule">#nulecule</a>
      channel.

  .col-md-4.col-sm-12
    %h2 Reference Implementation 

    %p
      <a href="https://github.com/projectatomic/atomicapp">Atomicapp</a> is a reference implementation of the Nulecule Specification.
      It can be used to bootstrap container applications and to install and run them. Atomicapp is designed to be run in a container 
      context. Examples using this tool may be found in the <a href="https://github.com/projectatomic/nulecule/tree/master/examples">Nulecule examples directory</a>.

  .col-md-4.col-sm-12
    %h2 Get involved 

    %p
      The code source and Dockerfile to generate an Atomicapp base image
      are hosted on the
      <a href="https://github.com/projectatomic/atomicapp">Atomicapp</a>
      repo on GitHub.

    %p
      If you have a well identified issue, report
      it in Atomicapp's issues section hosted on github. Remember: first
      <a href="https://github.com/projectatomic/atomicapp/issues">check existing issues</a>, then
      <a href="https://github.com/projectatomic/atomicapp/issues/new">enter a new issue</a>. We appreciate your bugs!

%h2
  %a( name="quickstart")
  We need you! 

%p
  The Nulecule is in a flux. Join now and help us to shape its future of Applications!
