---
title: Welcome to the Atomic community
---

%h1 Welcome

%p.lead

  The Atomic project aims to build a welcoming and diverse community
  around the various components needed to compose, deploy and manage
  Atomic controllers and applications inside.

%p

  As a result, the Atomic project relies on a variety of open source
  projects as the building blocks used for the project. For the controllers
  it relies heavilly on
  %a( href="http://kernel.org/") linux kernel
  features, the
  %a( href="http://www.freedesktop.org/wiki/Software/systemd/" ) systemd
  system and service manager,
  %a( href="https://wiki.gnome.org/Projects/OSTree" ) OSTree
  and
  %a( href="http://rpm-ostree.cloud.fedoraproject.org/" ) rpm-ostree
  for updates, 
  %a( href="https://www.docker.io/" ) Docker
  for application deployment, and of course the various targetted Linux
  distributions.
  The Atomic community will work toward development of the Atomic project
  in an inclusive way by contributing to the related upstream projects,
  solving integration issue in the various distributions being used and
  developping the specific management tools needed for management and
  system updates.


.row

  .col-md-4.col-sm-12
    %h2 Discussions

    %p
      The project host a few mailing lists, one for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic" ) general discussions
      on the project and user feedback, a
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic-devel" )technical discussions
      as well as patches exchanges and reviews and a low traffic list for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic-announce" )announces
      \.

    %p
      A dedicated
      %a( href="http://ask.projectatomic.io" ) forum
      is also available for sharing questions and answers.

  .col-md-4.col-sm-12
    %h2 Report issues

    %p

      To report issues and get community help it is a good idea to first
      consult the
      %a( href="http://ask.projectatomic.io/en/questions/" ) related forum

    %p

      If you have a well identified issue then the best is to report
      it in the bugzilla hosted by Red Hat, first
      %a( href="https://bugzilla.redhat.com/buglist.cgi?product=Atomic" ) check existing issues
      then
      %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Atomic" ) enter a new bug
      , thanks !

  .col-md-4.col-sm-12
    %h2 Check the code out

    %p

      The code source and build recipe used to generate Atomic controllers
      are hosted on the 
      %a( href="https://github.com/projectatomic/" ) projectatomic
      on GitHub.
      The source to build this web site is also available
      %a( href="https://github.com/projectatomic/atomic-site" ) there
      \!

%h2
  %a( name="quickstart")
  Quick Start Guide

%p Now that you got Project Atomic installed, it's time to put it to work. And we have to write this quickstart guide so you can follow it. Basically the purpose of this section is to get your newly installed Atomic controller to do something useful and to make you understand how it works, how to install containers and how to do common deployments.

