---
title: Welcome to the Atomic community
---

%h1 Welcome

%img.img-responsive.pull-right.hidden-xs( src="/images/community.png")
%p.lead

  The Atomic project aims to build a welcoming and diverse community
  around the various components needed to compose, deploy and manage
  Atomic hosts and applications inside.

%p

  The Atomic project relies on several open source
  projects as the building blocks used for the project. For the hosts
  it relies heavily on <a href="http://kernel.org/">Linux kernel</a>
  features, the
  <a href="http://www.freedesktop.org/wiki/Software/systemd/">systemd</a>
  system and service manager,
  <a href="https://wiki.gnome.org/Projects/OSTree">OSTree</a>
  and
  <a href="https://github.com/projectatomic/rpm-ostree">rpm-ostree</a>
  for updates,
  <a href="https://www.docker.io/">Docker</a>,
  <a href="https://github.com/opencontainers/runc">runc</a>,
  and <a href="http://cri-o.io/">CRI-O</a>
  for application deployment,
  <a href="https://github.com/kubernetes/kubernetes">Kubernetes</a> or
  <a href="https://github.com/openshift/origin">OpenShift</a>
  for orchestration, and of course our two primary Linux distributions,
  <a href="https://getfedora.org/">Fedora</a> and <a href="https://www.centos.org/">CentOS</a>.
  The Atomic community works toward development of the Atomic project
  in an inclusive way by contributing to the related upstream projects,
  solving integration issues in the various distributions being used and
  developing the specific management tools needed for management and
  system updates.


.row

  .col-md-4.col-sm-12
    %h2 Discussions and Meetings

    %p

      The main project mailing list is the
      <a href="http://lists.projectatomic.io/mailman/listinfo/atomic-devel">"atomic-devel list"</a>,
      which hosts both development and usage discussions.  There's also a low traffic list for
      <a href="http://lists.projectatomic.io/mailman/listinfo/atomic-announce">announcements</a>.
      (Please note that the atomic@projectatomic.io mailing list has no traffic, and is
      reserved for future use.)

    %p

      For chat, we use the Freenode IRC servers in the
      <a href="irc://irc.freenode.net/#atomic">#atomic</a>
      channel.

    %p

      The general Atomic community meeting is every two weeks at 16:00 UTC on
      Mondays on channel <a href="irc://irc.freenode.net:6667/atomic">#atomic</a>.
      Please check the <a href="http://lists.projectatomic.io/mailman/listinfo/atomic-devel">atomic-devel list</a>
      for meeting announcements and agendas.

    %p

      Several Project Atomic's member projects have public meetings, which you are also encouraged
      to attend.

    %ul
      %li Fedora Atomic Host and FLIBS: every Wednesday at 16:30 UTC in <a href="irc://irc.freenode.net:6667/fedora-meeting-1">#fedora-meeting-1</a>.
      %li Cockpit: every Monday at 15:00 CET / 06:00 Pacific, in <a href="irc://irc.freenode.net:6667/cockpit">#cockpit</a>.

  .col-md-4.col-sm-12
    %h2 Report Issues

    %p

      Before reporting issues, please check in chat or on the mailing list that
      you've found a new issue.  You can also search
      <a href="https://serverfault.com/search?q=atomic+host">Server Fault</a>
      for responses to other users with the same issue.

    %p

      As Project Atomic covers multiple sub-projects and distributions, where
      to report issues depends on which distribution or component you're reporting
      and issue against.  In general, it's useful to check on chat or the
      mailing list where to report things.  Here's links to a few of the issue trackers

    %ul
      %li CentOS Atomic Host and Red Hat Atomic Host: first <a href="https://bugzilla.redhat.com/buglist.cgi?product=Atomic">check existing issues</a>, then <a href="https://bugzilla.redhat.com/enter_bug.cgi?product=Atomic">enter a new bug</a>. We appreciate your bugs!
      %li <a href="https://pagure.io/atomic-wg/issues">Fedora Atomic Host and FLIBS issues</a> on Pagure.
      %li <a href="https://github.com/cockpit-project/cockpit/issues">Cockpit Issues</a> on Github.
      %li <a href="https://github.com/kubernetes-incubator/cri-o/issues">CRI-O Issues</a> on Github.

    %p

      Other projects use their issue trackers in their individual git repos, under
      the <a href="https://github.com/projectatomc">Project Atomic organization</a>.

  .col-md-4.col-sm-12
    %h2 Check the Code Out

    %p

      Most of the source code for our member projects is hosted under the
      <a href="https://github.com/projectatomic/">Project Atomic organization</a>
      on GitHub.  See the Github organization for a list of projects. This includes

    %ul
      %li <a href="https://github.com/projectatomic/rpm-ostree">rpm-ostree</a>
      %li <a href="https://github.com/projectatomic/atomic">Atomic CLI</a>
      %li <a href="https://github.com/projectatomic/buildah">Buildah</a>
      %li <a href="https://github.com/projectatomic/skopeo">Skopeo</a>
      %li <a href="https://github.com/projectatomic/atomic-host-docs">Atomic Host documentation</a>
      %li <a href="https://github.com/projectatomic/docker">docker/moby patches</a>
      %li <a href="https://github.com/kubernetes-incubator/cri-o">CRI-O</a>
      %li <a href="https://github.com/cockpit-project/cockpit">Cockpit</a>
      %li <a href="https://github.com/projectatomic/atomic-site">Source for this website</a>

%h2
  %a( name="contributing")
  Contributing

%p

  Project Atomic is an open community seeking contributors from everywhere, and
  of every type.  In addition to many core projects needing Go, C or Python code,
  we also need:

%ul
  %li help <a href="https://github.com/projectatomic/atomic-host-docs">writing documentation</a>
  %li container maintainers for <a href="https://fedoraproject.org/wiki/Atomic/FLIBS_Catalog">FLIBS</a> or <a href="https://wiki.centos.org/ContainerPipeline">CentOS Container Pipeline</a>
  %li expert users to answer questions on the mailing list and Server Fault
  %li testers who can try out new releases and features

%p

  If you are a programmer, please check out any of the many projects under the
  <a href="https://github.com/projectatomic/">Project Atomic organization</a> on
  github for places to contribute.  We accept pull requests, and do not require a
  CLA.

%p

  Atomic is a work in progress. Join now and help us to shape its future!
