---
title: Welcome to the Atomic community
---

%h1 Welcome

%p.lead

  The Atomic project aims to build a welcoming and diverse community
  around the various components needed to compose, deploy and manage
  Atomic controllers and applications inside.

%p.lead

  @@todo

.row

  .col-md-4.col-sm-12
    %h2 Discussions

    %p
      The project a couple of mailing lists for

    %p
      We also have a couple of mailing lists for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic" )technical discussions
      like patches exchanges and reviews and a low traffic
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic-announce" )announce list.

      %a( href="http://forum.projectatomic.io" ) Forums
      for general discussions about the project.
  .col-md-4.col-sm-12
    %h2 Report issues

    %p

      To report issues and get community help it is a good idea to first
      consult the
      %a( href="http://ask.projectatomic.io/en/questions/" ) related forums

    %p

      If you have a well identified issue then the best is to report
      it in the bugzilla hosted by Red Hat, first
      %a( href="https://bugzilla.redhat.com/buglist.cgi?product=Atomic" ) check existing issues
      then
      %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Atomic" ) enter a new bug
      , thanks !

  .col-md-4.col-sm-12
    %h2 Check the code out

    %p

      The code source and build recipe used to generate Atomic controllers
      are hosted on the atomic project on GitHub

%h2
  %a( name="quickstart")
  Quick Start Guide

%p Now that you got Project Atomic installed, it's time to put it to work. And we have to write this quickstart guide so you can follow it. Basically the purpose of this section is to get your newly installed Atomic controller to do something useful and to make you understand how it works, how to install containers and how to do common deployments.

