---
title: Welcome to the Atomic community
---

%h1 Welcome

%img.img-responsive.pull-right.hidden-xs( src="/images/community.png")
%p.lead

  The Atomic project aims to build a welcoming and diverse community
  around the various components needed to compose, deploy and manage
  Atomic controllers and applications inside.

%p

  The Atomic project relies on several open source
  projects as the building blocks used for the project. For the controllers
  it relies heavily on
  %a( href="http://kernel.org/") linux kernel
  features, the
  %a( href="http://www.freedesktop.org/wiki/Software/systemd/" ) systemd
  system and service manager,
  %a( href="https://wiki.gnome.org/Projects/OSTree" ) OSTree
  and
  %a( href="http://rpm-ostree.cloud.fedoraproject.org/" ) rpm-ostree
  for updates,
  %a( href="https://www.docker.io/" ) Docker
  and
  %a( href="https://index.docker.io/u/ccoleman/geard/" ) geard
  for application deployment, and of course the various targeted Linux
  distributions.
  The Atomic community will work toward development of the Atomic project
  in an inclusive way by contributing to the related upstream projects,
  solving integration issues in the various distributions being used and
  developing the specific management tools needed for management and
  system updates.


.row

  .col-md-4.col-sm-12
    %h2 Discussions

    %p
      The project hosts a few mailing lists, one for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic" ) general discussions
      on the project and user feedback, one for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic-devel" )technical discussions
      as well as patch exchanges and reviews, and a low traffic list for
      %a( href="http://lists.projectatomic.io/mailman/listinfo/atomic-announce" )announcements
      \.

    %p
      A dedicated
      %a( href="http://ask.projectatomic.io" ) forum
      is also available for asking questions and sharing answers.

  .col-md-4.col-sm-12
    %h2 Report issues

    %p

      To report issues and get community help it is a good idea to first
      consult the
      %a( href="http://ask.projectatomic.io/en/questions/" ) related forum

    %p

      If you have a well identified issue, report
      it in the Bugzilla hosted by Red Hat. Remember: first
      %a( href="https://bugzilla.redhat.com/buglist.cgi?product=Atomic" ) check existing issues
      , then
      %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Atomic" ) enter a new bug
      \. We appreciate your bugs!

  .col-md-4.col-sm-12
    %h2 Check the code out

    %p

      The code source and build recipe used to generate Atomic controllers
      are hosted on the
      %a( href="https://github.com/projectatomic/" ) projectatomic
      repo on GitHub.
      The source to build this web site is also available
      %a( href="https://github.com/projectatomic/atomic-site" ) there
      \!

%h2
  %a( name="quickstart")
  How to join and help

%p

  There are many ways to become part of the Atomic community: discuss
  technical options on the list, answer newcomers' questions in the forum,
  take part in the development of the upstream projects we use,
  help us integrate into the existing distrbutions
  %a( href="http://rpm-ostree.cloud.fedoraproject.org/" ) Fedora
  and
  %a( href="http://wiki.centos.org/Cloud" ) CentOS
  \. You can also help us to port Atomic so that it can use different
  formats or be usable on other distributions. Can't code? Help us by
  %a( href="/docs/#contribute" ) contributing documentation
  \. Can't write docs? You can still help us by spreading
  the word to friends, posting on social media, or by telling User
  Groups about Atomic.

%p

  Atomic is a work in progress. Join now and help us to shape its future!
