---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %img.pull-right.img-responsive( src="/images/multicontainer.svg" )
  .clearfix.visible-xs
  %h1
    Building the Next Generation Container OS
  %p.lead

    Use immutable infrastructure to deploy and scale your containerized
    applications.  Project Atomic builds OSes, tools, and containers for
    cloud native platforms.

  %p
    %strong new versions of Fedora Atomic Host and CentOS Atomic Host,
    combined with strong container registries, offer a complete containerized
    OS platform.

  %p.buttons
    %a.btn.btn-default{:href => "/registry" }
      %i.fa.fa-graduation-cap.text-primary
      Learn more!
      %i.fa.fa-long-arrow-right

  = partial "social"

  %hr

  .col-md-12
    .row
      .col-xs-12.col-lg-4

        %h2 Atomic Host

        %p
          %b Atomic Host
          provides "immutable infrastructure" for deploying to hundreds or
          thousands of servers in your private or public cloud.  Available in
          %b Fedora Atomic Host,
          %b CentOS Atomic Host,
          %b and Red Hat Atomic Host
          editions depending on your platform and support needs.

        %p
          To balance the need between long-term stability and new
          features, we are providing different releases of Atomic Host
          for you to choose from.
        %p
          %a( href="/download" )
            %i.fa.fa-fw.fa-download
            Get Started

      .col-xs-12.col-lg-4
        %h2
          Container Registries
        %p
          You can get your containerized
          applications from the
          %b CentOS Container Pipeline
          and the
          %b Fedora Layered Image Build Service
        %p
          Trusted container content from the
          projects you already trust.

        %p
          %a( href="/docs/atomicapp" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Atomic App

        %p
          %a( href="/docs/nulecule" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Nulecule

      .col-xs-12.col-lg-4

        %h2
          Atomic Registry
        %p
          An enterprise Docker container registry solution run on-premise or in
          the cloud.

        %p
          Atomic Registry uses 100% open source technology to provide
          enterprise features such as role-based access control (RBAC), diverse
          authentication options, a rich web console, flexible storage
          integration and more.

        %p
          %a( href="/registry" )
            %i.fa.fa-play-circle
            Get started with Atomic Registry

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
