---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %img.pull-right.img-responsive( src="/images/multicontainer.svg" )
  .clearfix.visible-xs
  %h1
    Building the Next Generation Container OS
  %p.lead

    Use immutable infrastructure to deploy and scale your containerized
    applications.  Project Atomic builds OSes, tools, and containers for
    cloud native platforms.

  %p
    %strong Buildah, a different way to build containers, is now
    available for testing.

  %p.buttons
    %a.btn.btn-default{:href => "/blog/2017/06/introducing-buildah/" }
      %i.fa.fa-graduation-cap.text-primary
      Learn more!
      %i.fa.fa-long-arrow-right

  = partial "social"

  %hr

  .col-md-12
    .row
      .col-xs-12.col-lg-4

        %h2 Atomic Host

        %p
          %b Atomic Host
          provides "immutable infrastructure" for deploying to hundreds or
          thousands of servers in your private or public cloud.  Available in
          %b Fedora Atomic Host,
          %b CentOS Atomic Host,
          %b and Red Hat Atomic Host
          editions depending on your platform and support needs.

        %p
          To balance the need between long-term stability and new
          features, we are providing different releases of Atomic Host
          for you to choose from.
        %p
          %a( href="/download" )
            %i.fa.fa-fw.fa-download
            Get Started

      .col-xs-12.col-lg-4
        %h2
          Container Registries
        %p
          You can get your containerized
          applications from the
          %b CentOS Container Pipeline
          and the
          %b Fedora Layered Image Build Service
        %p
          Trusted container content from the
          projects you already trust.

        %p
          %a( href="https://fedoraproject.org/wiki/Atomic/FLIBS_Catalog" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Fedora Layered Images

        %p
          %a( href="https://wiki.centos.org/ContainerPipeline" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about CentOS Container Pipeline

      .col-xs-12.col-lg-4

        %h2
          Container Tools
        %p
          Tools from our team help you create, deploy, manage, and secure containers.

        %p
          %a( href="https://github.com/projectatomic/buildah" )
            %i.fa.fa-play-circle
            Build containers with Buildah
        %p
          %a( href="http://kompose.io/" )
            %i.fa.fa-play-circle
            Compose applications with Kompose
        %p
          %a( href="https://github.com/projectatomic/skopeo" )
            %i.fa.fa-play-circle
            Pull and move images with Skopeo
        %p
          %a( href="https://github.com/kubernetes-incubator/cri-o" )
            %i.fa.fa-play-circle
            Deploy using Kubernetes and CRI-O
        %p
          %a( href="http://cockpit-project.org/" )
            %i.fa.fa-play-circle
            Manage container hosts with Cockpit
        %p
          %a( href="https://github.com/projectatomic/atomic" )
            %i.fa.fa-play-circle
            Install, run and scan with Atomic CLI
        %p
          %a( href="https://github.com/projectatomic/bubblewrap" )
            %i.fa.fa-play-circle
            Sandbox apps with Bubblewrap

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
