---
# frontpage has no special title
title: ""
pageable: false
page_classes: front-page header-page
per_page: 5
blog_summary_length: 500
---
.jumbotron
  %img.pull-right.img-responsive( src="/images/multicontainer.svg" )
  .clearfix.visible-xs
  %h1
    Create and Run Applications in Linux Containers
  %p.lead
    Create your application using
    %a{:href => "http://docker.io"} Docker
    containers. Deploy and manage containerized applications on a proven,
    trusted platform.

  %p
    %strong Project Atomic introduces Atomic Registry
    &mdash; a free and open source enterprise
    container registry.  Manage your containers without
    third party hubs.

  %p.buttons
    %a.btn.btn-default{:href => "/registry" }
      %i.fa.fa-graduation-cap.text-primary
      Learn more!
      %i.fa.fa-long-arrow-right

  = partial "social"

  %hr

  .col-md-12#secondary
    .row
      .col-xs-12.col-lg-4

        %h2 Atomic Host

        %p
          Based on proven technology either from Red Hat Enterprise Linux or the
          CentOS and Fedora projects, Atomic Host is a lightweight, immutable platform,
          designed with the sole purpose of running containerized applications.

        %p
          To balance the need between long-term stability and new
          features, we are providing different releases of Atomic Host
          for you to choose from.
        %p
          %a( href="/download" )
            %i.fa.fa-fw.fa-download
            Get Started

      .col-xs-12.col-lg-4
        %h2
          Atomic App and Nulecule
        %p
          With
          %b Atomic App,
          use existing containers as building
          blocks for your new application product or project.
          Using existing containers to provide core infrastructure components
          lets you focus more on building the stuff that matters and less time
          packaging and setting up the common plumbing required.
        %p
          Define your Atomic Apps with the
          %b Nulecule specification
          to compose and distribute complex applications.

        %p
          %a( href="/docs/atomicapp" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Atomic App

        %p
          %a( href="/docs/nulecule" )
            %i.fa.fa-fw.fa-graduation-cap
            Learn more about Nulecule

      .col-xs-12.col-lg-4

        %h2
          Atomic Registry
        %p
          An enterprise Docker container registry solution run on-premise or in
          the cloud.

        %p
          Atomic Registry uses 100% open source technology to provide
          enterprise features such as role-based access control (RBAC), diverse
          authentication options, a rich web console, flexible storage
          integration and more.

        %p
          %a( href="/registry" )
            %i.fa.fa-play-circle
            Get started with Atomic Registry

.row.featurette
  .col-sm-12.col-md-12

    %h2 Community News

    %section.blog-posts
      = partial :blog_posts, locals: {summarize: current_page.data.blog_summary_length}

      - blog_url = "#{blog.options[:prefix]}#{blog.options[:page_link]}/".sub(":num", "2")

      %h3=link_to "&raquo; View older news", blog_url, class: "more-link"

.row.featurette
  .col-sm-12.col-md-12
    %p.text-center Ready to try Atomic?
    %p.text-center.buttons
      %a.btn.btn-default{:href => "/download"}
        %i.fa.fa-rocket
        Get Started
        %i.fa.fa-long-arrow-right
